body {
	font-size: 62.5%;
}

.outerWrapper {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	padding: 0 4rem;
}

.wrapper {
	max-width: 1170px;
	width: 70%;
	margin: 0 auto;
}

.fixed {
	position: fixed;
	top: 0;
	width: 70%;
	max-width: 1170px;
	z-index: 9999;
}
