body {
	font-size: 62.5%;
	background-color: $darkBlue;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
}

main#app {
	max-width: 1170px;
	width: 80%;
	margin: 4rem auto;
	padding: 0 4rem;
	flex: 1 0 auto;
}

#particles-js {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* Portrait phones and down */
@media (max-width: 480px) {
	main#app {
		padding: 0 2rem;
	}
}