h1 {
	font-family: $Montserrat;
	color: $white;
	font-size: 7.5rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
}

.largeLogo {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	h1 {
		border: 5px solid $white;
		padding: 2rem;
	}
	&::before, &::after {
		content: '•';
    	font-size: 4rem;
    	color: #ae9364;
    	position: absolute;
    	top: 40%;
    	background-color: #434343;
    	line-height: 3rem;
	}
	&::before {
		left: -0.5rem;
	}
	&::after {
		right: -0.5rem;
	}
}

.smallLogo {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	h1 {
		font-size: 3rem;
		border: 5px solid $white;
		padding: 2rem;
	}
	&::before, &::after {
		content: '•';
    	font-size: 4rem;
    	color: #ae9364;
    	position: absolute;
    	top: 40%;
    	background-color: #434343;
    	line-height: 3rem;
	}
	&::before {
		left: -0.5rem;
	}
	&::after {
		right: -0.5rem;
	}
}

h2 {
	font-family: $Montserrat;
	color: $black;
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
}

#contact h2 {
	text-align: center;
	color: $white;
	a {
		color: $gold;
		text-decoration: none;
		&:hover {
			color: $white;
			transition: all 0.5s;
		}
	}
}

h3 {
	font-family: $Montserrat;
	color: $black;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	margin-top: 0;
	&::before {
		content: '';
		width: 4.5rem;
		height: 3px;
		background: #ae9364;
		position: absolute;
		top: 2.75rem;
	}
	&::after {
		content: ' .';
		color: $gold;
	}
}

h4 {
	font-family: $Montserrat;
	color: $black;
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
}

p {
	font-family: $Crete;
	color: $darkGrey;
	font-size: 1.2rem;
	line-height: 1.7rem;
	a {
		color: $gold;
		text-decoration: none;
		&:hover {
			color: $darkGrey;
			transition: all 0.5s;
		}
	}
}

#portfolio p {
	margin: 2rem 0 2rem 0;
}

.devicons {
	font-size: 3rem;
}

.skillsItems ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		i {
			font-size: 3rem;
		}
	}
}

.portfolioTechList {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		margin: 0 0;
		padding: 0 0.75rem 0 0;
		// font-family: $Crete;
		font-family: $Montserrat;
		font-weight: 400;
		color: $gold;
		font-size: 1rem;
		line-height: 1.5rem;
		text-transform: uppercase;
		display: inline-block;
	}
}

.buttonLinkLarge {
	font-family: $Montserrat;
	color: $black;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid $gold;
	padding: 1rem;
	&:hover {
		background: $black;
		border: 2px solid $black;
		color: $white;
		transition: all 0.5s;
	}
}

.buttonLink {
	padding: 0.75rem;
	font-family: $Montserrat;
	font-weight: 700;
	color: $black;
	font-size: 0.9rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	display: inline-block;
	border: 2px solid $gold;
	text-decoration: none;
	margin-top: 1.5rem;
	&:hover {
		background: $black;
		border: 2px solid $black;
		color: $white;
		transition: all 0.5s;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h1 {
		font-size: 5.5rem;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	h1 {
		font-size: 3.5rem;
	}
	.smallLogo h1 {
		font-size: 2rem;
	}
}

/* Phone */
@media (max-width: 350px) {
	h1 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
		&:before {
			top: 2.5rem;
		}
	}
	.buttonLinkLarge {
		font-size: 0.8rem;
	}
	.credit {
		padding: 0 0.5rem;
	}
}
