h1 {
	font-family: $serif;
	// color: rgb(175, 190, 207);
	color: $gold;
	font-size: 2rem;
	font-weight: 300;
	margin: 0;
	letter-spacing: 0em;
	a {
		// color: rgb(175, 190, 207);
		color: $gold;
		text-decoration: none;
	}
}

h2 {
	font-family: $sansSerif;
	color: rgb(175, 190, 207);
	font-size: 1.75rem;
	font-weight: 700;
	text-transform: lowercase;
	a {
		color: rgb(175, 190, 207);
		text-decoration: none;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.15rem;
			height: 0.2rem;
			width: 100%;
			background: $gold;
			opacity: 0.5;
			z-index: 10;
		}
		&:hover:before {
			opacity: 1;
			transition: all 0.5s ease-in;
		}
	}
}

h3 {
	font-family: $serif;
	color: $black;
	font-size: 2rem;
	font-weight: 400;
	position: relative;
	text-align: center;
	text-shadow: none;
}

	.about h3 {
		font-family: $sansSerif;
		text-align: left;
		font-size: 1.75rem;
		color: $gold;
	}

h4 {
	font-family: $sansSerif;
	color: $white;
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: none;
	text-align: center;
}

p {
	font-family: $serif;
	color: rgb(175, 190, 207);
	font-size: 1.25rem;
	line-height: 1.75rem;
	a {
		color: rgb(175, 190, 207);
		text-decoration: none;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.15rem;
			height: 0.2rem;
			width: 100%;
			background: $gold;
			opacity: 0.5;
			z-index: 10;
		}
		&:hover:before {
			opacity: 1;
			transition: all 0.5s ease-in;
		}
	}
}

	.about p {
		font-size: 1.1rem;
		line-height: 1.5rem;
	}

	p span.highlight {
		color: $gold;
	}

ul.nav, ul.socialMedia {
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: 'Radley', serif;
	a {
		color: $lightBlue;
		text-decoration: none;
		position: relative;
		&:hover {
			color: $gold;
			transition: all 0.5s ease-in;
		}
	}
	i.fa-external-link-alt {
		font-size: 1rem;
		padding-left: 0.5rem;
	}
	.email {
		font-size: 1rem;
	}
}

ul.socialMedia a {
	color: $gold;
	&:hover {
		color: $lightBlue;
		transition: all 0.5s ease-in;
	}
}

ul.nav a.selected:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.15rem;
	height: 0.2rem;
	width: 100%;
	background: $lightBlue;
	z-index: 10;
}

ul.nav a.selected:hover {
	color: $lightBlue;
}

section.about .education ul, section.about .experience ul {
	font-family: $serif;
	color: rgb(175, 190, 207);
	font-size: 1rem;
	line-height: 1.25rem;
	list-style: none;
	padding: 0;
	margin: 0 0 2rem 0;
	li:first-child {
		color: $gold;
		font-family: $sansSerif;
		text-transform: uppercase;
		letter-spacing: 0.15rem;
	}
	a {
		color: $gold;
		text-decoration: none;
		position: relative;
		line-height: 1.75rem;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.15rem;
			height: 0.2rem;
			width: 100%;
			background: $gold;
			opacity: 0.5;
			z-index: 10;
		}
		&:hover:before {
			opacity: 1;
			transition: all 0.5s ease-in;
		}
	}
}

.copyright p {
	font-family: $sansSerif;
	text-align: center;
	font-size: 1rem;
}

figcaption {
	h3 {
		font-family: $sansSerif;
		text-transform: uppercase;
		font-size: 1.5rem;
		color: $darkBlue;
		padding: 0;
		margin: 0;
	}
	p {
		color: black;
		font-size: 1rem;
	}
	ul li {
		text-transform: uppercase;
		font-family: $sansSerif;
		font-size: 0.8rem;
	}
}

a.portfolioLink {
	font-family: $sansSerif;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	color: $darkBlue;
	letter-spacing: 0.25rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h3 {
		font-size: 1.5rem;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	h3 {
		font-size: 2rem;
	}
}
