// COLORS
$darkBlue: rgb(52, 73, 94);
$shadow: rgba(52, 73, 94, 0.5);
$lightBlue: rgb(175, 190, 207);
$fadedBlue: rgba(175, 190, 207,0.5);
$gold: rgb(168, 153, 110);
$fadedGold: rgba(168, 153, 110, 0.5);

$black: #000;
$white: #fff;

// FONT STACKS
$serif: 'Radley', serif;
$sansSerif: 'Montserrat', sans-serif;