// COLORS
$heroColor: #434343;
$white: #ffffff;
$black: #333333;
$gold: #ae9364;
$darkGrey: #707070;

// FONT STACKS
$Montserrat: 'Montserrat', sans-serif;
$Lato: 'Lato', sans-serif;
$Crete: 'Lora', serif;
