footer {
	text-align: center;
	ul {
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}