ul.skills {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        display: inline-block;
        &::after {
            content: ' •';
            color: $gold;
        }
        &:last-of-type::after {
            content: none;
        }
    }
}