figure {
	background: $fadedBlue;
	margin-bottom: 2rem;
	display: flex;
	.imageContainer {
		padding: 2rem;
		width: 40%;
		display: inline-block;
		img {
			width: 100%;
		}
	}
	figcaption {
		width: 60%;
		ul {
		padding: 0;
		margin: 0;
			li {
				list-style-type: none;
				display: inline;
				padding-right: 0.5rem;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
	&:nth-of-type(odd) {
		.imageContainer {
			order: 1;
		}
		figcaption {
			padding: 2rem 2rem 2rem 0;
			order: 2;
		}
	}
	&:nth-of-type(even) {
		.imageContainer {
			order: 2;
		}
		figcaption {
			padding: 2rem 0 2rem 2rem;
			order: 1;
		}
	}
}

div.imageContainer, figcaption {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

figure.portfolioItem {
	position: relative;
	transition: 0.5s all ease-in-out;
	&:hover a.portfolioLink,
	&:active a.portfolioLink,
	&:focus a.portfolioLink {
		opacity: 1;
	}
}

a.portfolioLink {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: $lightestBlue;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: none;
	transition: 0.5s all ease-in-out;
	&:hover, &:active, &:focus {
		border-bottom: none;
	}
}

a.liveButton {
	font-family: $sansSerif;
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background: $darkBlue;
	margin-top: 2rem;
	padding: 1rem 2rem;
	box-shadow: 2px 2px $shadow;
	display: none;
	border-bottom: none;
	transition: 0.3s all ease-in;
	&:hover, &:active, &:focus {
		background: $darkestBlue;
		color: $lightestBlue;
	}
}

@media (max-width: 1000px) {
	figure {
		flex-wrap: wrap;
	}
	div.imageContainer, figure figcaption {
		width: 100%;
		img {
			max-width: 80%;
			margin: 0 auto;
		}
	}
	div.imageContainer {
		order: 1;
	}
	figure figcaption:nth-of-type(odd),
	figure figcaption:nth-of-type(even) {
		padding: 2rem;
		order: 2;
	}
}

/* Landscape phones and down */
@media (max-width: 580px) {
	a.portfolioLink {
		display: none;
	}

	a.liveButton {
		display: block;
	}
}