.blog h2 {
  color: $darkBlue;
  text-align: center;
}

#json-content {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  padding-right: 1rem;
  &:last-child {
    padding-right: 0;
  }
}

.blog-content {
  margin-top: 2rem;
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    display: none;
  }
}

.img-blog {
  max-width: 100%;
}

.post-content {
  display: none;
}

.medium {
  display: block;
  margin: 1.5rem auto 0 auto;
  font-family: $sansSerif;
  font-size: 1.25rem;
  text-transform: lowercase;
  background: transparent;
  border: 1px solid $darkBlue;
  border-radius: 40px;
  padding: 1rem 2rem;
  a {
    color: $darkBlue;
    text-decoration: none;
  }
}