footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	.contact1, .contact2, .contact3 {
		width: 33%;
		display: inline-block;
	}
	.contact1, .contact2 {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: center;
	}
	.contact3 {
		font-size: 0;
	}
}

.contact2 ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}