footer {
	background-color: $heroColor;
	padding: 1rem 0;
	p {
		font-family: $Montserrat;
		font-weight: 400;
		text-align: center;
		color: $white;
		margin: 0;
		a {
			color: $gold;
			text-decoration: none;
			&:hover {
				color: $white;
			}
		}
	}
}
