nav {
	border-bottom: 3px solid $gold;
	background: white;
	position: relative;
	img {
		// width: 3.6rem;
		height: 3.6rem;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	ul {
		text-align: right;
		margin: 1rem 0;
		li {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;
			a {
				padding-left: 1rem;
				font-family: $Montserrat;
				font-size: 1.3rem;
				font-weight: 700;
				text-decoration: none;
				text-transform: uppercase;
				color: $black;
				&:hover {
					color: $gold;
				}
			}
		}
	}
}
