.skillsGallery {
	text-align: center;
	h4 {
		width: 100%;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		padding: 1.25rem 0;
		i {
			font-size: 4rem;
		}
		p {
			display: none;
		}
	}
}

.skillsList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
