.languages, .tools {
	text-align: center;
	h4 {
		width: 100%;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		i {
			font-size: 4rem;
		}
		p {
			display: none;
		}
	}
}

.tools {
	margin-top: 4rem;
}

.languagesList, .toolsList {
	display: flex;
	justify-content: space-between;
	align-items: center;
}