body {
	font-size: 62.5%;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	height: 100%;
}

main {
	width: 60%;
	height: 100vh;
	overflow-y: scroll;
	margin: 0 auto;
	padding: 6rem 3rem 0 3rem;
	flex: 1 0 auto;
	position: relative;
}

div.profile_image {
	width: 40%;
	display: block;
	min-height: 100vh;
	background-image: url('../assets/profile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	filter: grayscale(40%);
}

#particles-js {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* Portrait phones and down */
@media (max-width: 480px) {
	div.profile_image {
		width: 100%;
		height: 35vh;
		background-position: 50% 70%;
		min-height: 0;
	}
	main {
		padding-top: 4rem;
	}
}