h1 {
	font-family: $sansSerif;
	color: $gold;
	font-size: 4rem;
	margin: 0;
	text-shadow: 1px 1px 2px $fadedGold;
}

h2 {
	font-family: $sansSerif;
	color: $lightestBlue;
	font-size: 2rem;
	position: relative;
	text-align: left;
	text-shadow: 1px 1px 2px $fadedBlue;
}

h3 {
	font-family: $sansSerif;
	color: $gold;
	font-size: 1.75rem;
	font-weight: 700;
	margin-top: 0;
	text-shadow: 1px 1px 1px $fadedGold;
}

h4 {
	font-family: $sansSerif;
	color: $gold;
	font-size: 1.25rem;
	letter-spacing: 0.01rem;
	line-height: 1.5rem;
	text-transform: lowercase;
}

p, li {
	font-family: $serif;
	color: $darkBlue;
	font-size: 1.1rem;
	letter-spacing: 0.01rem;
	line-height: 1.5rem;
}

.about p {
	white-space: pre-wrap;
	word-wrap: break-word;
}

a {
	color: $lightBlue;
	text-decoration: none;
	position: relative;
	border-bottom: 0.1rem solid $lightBlue;
	&:hover, &:active, &:focus {
		color: $darkBlue;
		border-bottom: 0.2rem solid $darkBlue;
		transition: all 0.25s ease-in;
	}
}

ul.contactLinks {
	list-style: none;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		font-size: 1rem;
		text-transform: lowercase;
		&::after {
            content: ' •';
			font-size: 0.8rem;
            color: $gold;
        }
        &:last-of-type::after {
            content: none;
        }
	}
	a {
		color: $darkBlue;
		text-decoration: none;
		span {
			color: $lightBlue;
			border-bottom: 0.1rem solid $lightBlue;
		}
		&:hover span {
			color: $darkBlue;
			border-bottom: 0.2rem solid $darkBlue;
			transition: all 0.25s ease-in;
		}
	}
}

ul.socialMedia {
	line-height: 2rem;
	font-family: $sansSerif;
	li {
		font-size: 1.5rem;
	}
	a {
		color: $darkBlue;
		text-decoration: none;
		border-bottom: none;
		&:hover, &:active, &:focus {
			color: $lightBlue;
			border-bottom: none;
			transition: all 0.25s ease-in;
		}
	}
}

footer p {
	font-family: $serif;
	text-align: center;
	font-size: 0.75rem;
}

figcaption {
	h3 {
		font-family: $sansSerif;
		text-transform: uppercase;
		font-size: 1.5rem;
		color: $darkBlue;
		text-shadow: none;
		padding: 0;
		margin: 0;
	}
	p {
		color: $black;
		font-size: 1rem;
	}
	ul li {
		text-transform: uppercase;
		font-family: $sansSerif;
		font-size: 0.8rem;
	}
}

a.portfolioLink {
	font-family: $sansSerif;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	color: $darkBlue;
	letter-spacing: 0.25rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h3 {
		font-size: 1.5rem;
	}
}

/* Landscape phones and down */
@media (max-width: 580px) {
	h1 {
		font-size: 3.75rem;
	}

	h3 {
		font-size: 2rem;
	}

	figcaption h3 {
		text-align: center;
	}
}
