h1 {
	font-family: $sansSerif;
	color: $gold;
	font-size: 4rem;
	margin: 0;
}

h2 {
	font-family: $sansSerif;
	color: $gold;
	font-size: 1.75rem;
	font-weight: 700;
	margin-top: 4rem;
}

h3 {
	font-family: $sansSerif;
	color: $lightBlue;
	font-size: 2rem;
	position: relative;
	text-align: left;
	text-shadow: none;
}

h4 {
	font-family: $sansSerif;
	color: $gold;
	font-size: 1.25rem;
	letter-spacing: 0.01rem;
	line-height: 1.5rem;
	text-transform: lowercase;
	a {
		color: $gold;
		text-decoration: none;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.15rem;
			height: 0.2rem;
			width: 100%;
			background: $lightBlue;
			opacity: 0.5;
			z-index: 10;
		}
		&:hover {
			color: $darkBlue;
			transition: all 0.25s ease-in;
		}
		&:hover:after {
			opacity: 1;
			background: $darkBlue;
			transition: all 0.25s ease-in;
		}
	}
}

p {
	font-family: $serif;
	color: $darkBlue;
	font-size: 1.1rem;
	letter-spacing: 0.01rem;
	line-height: 1.5rem;
	a {
		color: $lightBlue;
		text-decoration: none;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.15rem;
			height: 0.2rem;
			width: 100%;
			background: $lightBlue;
			opacity: 0.5;
			z-index: 10;
		}
		&:hover {
			color: $darkBlue;
			transition: all 0.25s ease-in;
		}
		&:hover:after {
			opacity: 1;
			background: $darkBlue;
			transition: all 0.25s ease-in;
		}
	}
}

ul.socialMedia {
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: $sansSerif;
	a {
		color: $darkBlue;
		text-decoration: none;
		position: relative;
		&:hover {
			color: $lightBlue;
			transition: all 0.25s ease-in;
		}
	}
}

.about p {
	white-space: pre-wrap;
	word-wrap: break-word;
}

footer p {
	font-family: $serif;
	text-align: center;
	font-size: 0.75rem;
}

figcaption {
	h3 {
		font-family: $sansSerif;
		text-transform: uppercase;
		font-size: 1.5rem;
		color: $darkBlue;
		padding: 0;
		margin: 0;
	}
	p {
		color: $black;
		font-size: 1rem;
	}
	ul li {
		text-transform: uppercase;
		font-family: $sansSerif;
		font-size: 0.8rem;
	}
}

a.portfolioLink {
	font-family: $sansSerif;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	color: $darkBlue;
	letter-spacing: 0.25rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h3 {
		font-size: 1.5rem;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	h1 {
		font-size: 3.75rem;
	}
	h3 {
		font-size: 2rem;
	}
}
