// COLORS
$darkBlue: rgb(52, 73, 94);
$darkestBlue: rgb(38, 53, 68);
$shadow: rgba(52, 73, 94, 0.5);
$lightBlue: rgb(93, 121, 152);
$lightestBlue: rgb(175, 190, 207);
$fadedBlue: rgba(175, 190, 207,0.5);
$gold: rgb(168, 153, 110);
$fadedGold: rgba(168, 153, 110, 0.5);

$black: #000;
$white: #fff;

// FONT STACKS
$serif: 'Overpass', serif;
$sansSerif: 'Prata', sans-serif;