article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  text-shadow: 2px 2px 0 rgba(234, 236, 238, 0.5);
  -webkit-transition: color .2s;
  transition: color .2s; }

h1 {
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-size: 7.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: lowercase; }

h3 {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-top: 0; }

h4 {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0; }

p {
  font-family: "Playfair Display", serif;
  color: #707070;
  font-size: 1rem;
  line-height: 1.4rem; }
  p a {
    color: rgba(133, 146, 158, 0.75);
    text-decoration: none; }
    p a:hover {
      color: #707070;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }

.bio p {
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center; }

.skills li, .skills i {
  color: rgba(133, 146, 158, 0.75);
  font-size: 3rem; }
  .skills li:hover, .skills i:hover {
    color: #34495E;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

footer ul {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem; }
  footer ul li {
    margin-top: 0.5rem; }
  footer ul a {
    color: rgba(133, 146, 158, 0.75);
    text-decoration: none;
    border-bottom: none; }
    footer ul a:hover {
      color: #34495E;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }

.contact1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 4.25rem;
  margin: 0;
  text-align: right; }

footer ul i {
  font-size: 2rem;
  padding-right: 1rem; }

.copyright p {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1 {
    font-size: 5.5rem; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 3.5rem; }
  .smallLogo h1 {
    font-size: 2rem; } }

/* Phone */
@media (max-width: 350px) {
  h1 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; }
    h3:before {
      top: 2.5rem; }
  .buttonLinkLarge {
    font-size: 0.8rem; }
  .credit {
    padding: 0 0.5rem; } }

body {
  font-size: 62.5%;
  background-color: #F8FAFC; }

.outerWrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem; }

.wrapper {
  max-width: 1170px;
  width: 70%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px dashed rgba(133, 146, 158, 0.75); }

.fixed {
  position: fixed;
  top: 0;
  width: 70%;
  max-width: 1170px;
  z-index: 9999; }

#error {
  margin: 9rem 0; }
  #error h3, #error p {
    width: 100%; }

header {
  background: url(../../assets/IMG_1656.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #434343;
  height: 100vh;
  font-family: 'Cantata One', serif; }

.hero .outerWrapper {
  text-align: center; }

nav {
  border-bottom: 3px solid #ae9364;
  background: white;
  height: 3.8rem;
  position: absolute;
  bottom: -3.8rem;
  margin: 0 auto;
  width: 70%;
  max-width: 1170px; }
  nav .navWrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  nav img {
    height: 3.6rem;
    bottom: 1rem;
    left: 0; }
  nav ul {
    text-align: right;
    margin: 1rem 0;
    padding: 0;
    padding-right: 1rem; }
    nav ul li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      nav ul li a {
        padding-left: 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #333333; }
        nav ul li a:hover {
          color: #ae9364;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }

.hamburger {
  display: none; }

.hamburgerLinks li {
  padding-bottom: 0.5rem; }
  .hamburgerLinks li:last-child {
    padding-bottom: 0; }

/* Landscape phone to portrait tablet */
@media (max-width: 880px) {
  .navItem {
    display: none; }
  .navLinks .fa {
    font-size: 1.05rem; }
  .hamburger {
    display: block;
    margin-left: 0;
    position: relative;
    cursor: pointer; }
  .hamburgerLinks {
    position: absolute;
    top: 1rem;
    right: 0;
    display: block;
    padding: 1rem 2rem;
    margin: 0;
    width: 10rem;
    background: white; }
    .hamburgerLinks li {
      list-style: none;
      margin: 0; }
      .hamburgerLinks li a {
        text-align: center;
        padding: 0;
        font-size: 1rem; }
  .turnHamburger {
    -webkit-transition: 0.5s, 0.5s, 0.5s, 0.5s;
    transition: 0.5s, 0.5s, 0.5s, 0.5s;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

.skillsGallery {
  text-align: center; }
  .skillsGallery h4 {
    width: 100%; }
  .skillsGallery ul {
    margin: 0;
    padding: 0; }
  .skillsGallery li {
    list-style: none;
    display: inline-block; }
    .skillsGallery li i {
      font-size: 4rem; }
    .skillsGallery li p {
      display: none; }

.tools {
  margin-top: 4rem; }

.skillsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

#portfolio {
  padding: 0 0 7rem 0; }

.portfolioPiece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 4rem 0;
  padding-bottom: 3rem;
  border-bottom: 2px dotted #ae9364; }
  .portfolioPiece:last-of-type {
    margin-bottom: 0;
    border-bottom: none; }
  .portfolioPiece .portfolioPieceText, .portfolioPiece .portfolioPieceImage {
    width: 50%; }
  .portfolioPiece .portfolioPieceImage img {
    max-width: 100%;
    max-height: 100%; }
  .portfolioPiece .spacingRight {
    padding-right: 2rem; }
  .portfolioPiece .spacingLeft {
    padding-left: 2rem; }
  .portfolioPiece .portfolioPieceText .buttonLink:nth-of-type(1n) {
    margin-right: 1rem; }

.portfolioTechList {
  margin-bottom: 2rem; }

@media (max-width: 940px) {
  .portfolioPiece {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .portfolioPiece:nth-child(odd) .portfolioPieceText {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .portfolioPiece:last-child {
      border-bottom: none; }
    .portfolioPiece .portfolioPieceText, .portfolioPiece .portfolioPieceImage {
      width: 100%; }
    .portfolioPiece .portfolioPieceText {
      padding-top: 2rem;
      margin-top: 1.5rem; }
    .portfolioPiece .spacingLeft {
      padding-left: 0; }
    .portfolioPiece .spacingRight {
      padding-right: 0; } }

#contact {
  background-color: #434343;
  height: 100%; }
  #contact .wrapper {
    text-align: center; }

.smallLogo {
  margin: 3rem 0; }
  .smallLogo::before, .smallLogo::after {
    top: 35%; }
  .smallLogo::before {
    left: -0.55rem; }
  .smallLogo::after {
    right: -0.55rem; }

.socialLinks {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem; }
  .socialLinks a {
    color: #ae9364; }
    .socialLinks a:hover {
      color: #ffffff; }
    .socialLinks a:last-of-type i {
      padding-right: 0; }
    .socialLinks a i {
      padding-right: 1rem; }

@media (max-width: 768px) {
  .smallLogo {
    margin: 1.5rem 0; }
  #contact h2 {
    font-size: 1rem;
    margin: 1rem 0; }
  .credit {
    font-size: 1rem; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .credit {
    font-size: 0.75rem; } }

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end; }
  footer .wrapper .contact {
    width: 33%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .wrapper .contact3 {
    font-size: 0; }
  footer .wrapper .contact2 ul {
    margin: 0;
    padding: 0; }
    footer .wrapper .contact2 ul li {
      list-style: none; }

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  footer .wrapper .contact {
    width: 50%; }
  footer .wrapper .contact1 {
    width: 100%;
    margin-bottom: 2rem; }
  footer .wrapper .contact2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/* Landscape phones and down */
