article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: "Radley", serif;
  color: #a8996e;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0em; }
  h1 a {
    color: #a8996e;
    text-decoration: none; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: #afbecf;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: lowercase; }
  h2 a {
    color: #afbecf;
    text-decoration: none;
    position: relative; }
    h2 a:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.15rem;
      height: 0.2rem;
      width: 100%;
      background: #a8996e;
      opacity: 0.5;
      z-index: 10; }
    h2 a:hover:before {
      opacity: 1;
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }

h3 {
  font-family: "Radley", serif;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  text-align: center;
  text-shadow: none; }

.about h3 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 1.75rem;
  color: #a8996e; }

h4 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: none;
  text-align: center; }

p {
  font-family: "Radley", serif;
  color: #afbecf;
  font-size: 1.25rem;
  line-height: 1.75rem; }
  p a {
    color: #afbecf;
    text-decoration: none;
    position: relative; }
    p a:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.15rem;
      height: 0.2rem;
      width: 100%;
      background: #a8996e;
      opacity: 0.5;
      z-index: 10; }
    p a:hover:before {
      opacity: 1;
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }

.about p {
  font-size: 1.1rem;
  line-height: 1.5rem; }

p span.highlight {
  color: #a8996e; }

ul.nav, ul.socialMedia {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Radley', serif; }
  ul.nav a, ul.socialMedia a {
    color: #afbecf;
    text-decoration: none;
    position: relative; }
    ul.nav a:hover, ul.socialMedia a:hover {
      color: #a8996e;
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
  ul.nav i.fa-external-link-alt, ul.socialMedia i.fa-external-link-alt {
    font-size: 1rem;
    padding-left: 0.5rem; }
  ul.nav .email, ul.socialMedia .email {
    font-size: 1rem; }

ul.socialMedia a {
  color: #a8996e; }
  ul.socialMedia a:hover {
    color: #afbecf;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

ul.nav a.selected:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.15rem;
  height: 0.2rem;
  width: 100%;
  background: #afbecf;
  z-index: 10; }

ul.nav a.selected:hover {
  color: #afbecf; }

section.about .education ul, section.about .experience ul {
  font-family: "Radley", serif;
  color: #afbecf;
  font-size: 1rem;
  line-height: 1.25rem;
  list-style: none;
  padding: 0;
  margin: 0 0 2rem 0; }
  section.about .education ul li:first-child, section.about .experience ul li:first-child {
    color: #a8996e;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem; }
  section.about .education ul a, section.about .experience ul a {
    color: #a8996e;
    text-decoration: none;
    position: relative;
    line-height: 1.75rem; }
    section.about .education ul a:before, section.about .experience ul a:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.15rem;
      height: 0.2rem;
      width: 100%;
      background: #a8996e;
      opacity: 0.5;
      z-index: 10; }
    section.about .education ul a:hover:before, section.about .experience ul a:hover:before {
      opacity: 1;
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }

.copyright p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1rem; }

figcaption h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #34495e;
  padding: 0;
  margin: 0; }

figcaption p {
  color: black;
  font-size: 1rem; }

figcaption ul li {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem; }

a.portfolioLink {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #34495e;
  letter-spacing: 0.25rem; }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  h3 {
    font-size: 2rem; } }

body {
  font-size: 62.5%;
  background-color: #34495e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  height: 100%; }

main#app {
  max-width: 1170px;
  width: 80%;
  margin: 4rem auto;
  padding: 0 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

/* Portrait phones and down */
@media (max-width: 480px) {
  main#app {
    padding: 0 2rem; } }

@-webkit-keyframes fadeInSlow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeInSlow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes smallBounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

@keyframes smallBounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem; }
  header .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  header h1 {
    display: inline-block;
    padding-right: 2.5rem; }
  header ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none; }
  header ul.nav li {
    display: inline;
    padding-right: 2rem; }
    header ul.nav li:last-child {
      padding-right: 0; }
  header ul.socialMedia li {
    display: inline;
    list-style: none;
    font-size: 1.75rem;
    padding-right: 1rem; }
    header ul.socialMedia li:last-child {
      padding-right: 0; }
  header .email {
    opacity: 0; }
  header .contact:hover .email {
    opacity: 1; }

@media (max-width: 1400px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    header h1 {
      width: 100%; } }

@media (max-width: 1150px) {
  header ul {
    width: 100%; }
  span.email {
    display: none; }
  ul.nav {
    margin-top: 2rem; }
  ul.socialMedia {
    margin-top: 1rem; } }

@media (max-width: 650px) {
  header ul.nav li {
    display: block; } }

.skills ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.skills li {
  list-style: none;
  display: inline-block;
  padding: 1.25rem 0;
  width: calc(100% / 6); }
  .skills li i {
    font-size: 4rem;
    color: #afbecf; }
  .skills li p {
    display: none; }

.resume {
  text-align: center;
  margin: 2rem auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  border: 1px solid #34495e;
  border-radius: 40px;
  padding: 1rem 2rem; }
  .resume a {
    color: #a8996e;
    text-decoration: none; }

@media (max-width: 900px) {
  .skills li {
    width: calc(100% / 4); } }

@media (max-width: 600px) {
  .skills li {
    width: calc(100% / 2); } }

@media (max-width: 480px) {
  .skillsList {
    grid-template-columns: repeat(4, 1fr); } }

#json-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog-item {
  padding-right: 1rem; }
  .blog-item:last-child {
    padding-right: 0; }

.blog-content {
  margin-top: 2rem; }
  .blog-content h3 {
    font-size: 1.25rem; }
  .blog-content h4 {
    display: none; }

.img-blog {
  max-width: 100%; }

.post-content {
  display: none; }

.medium {
  display: block;
  margin: 1.5rem auto 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  text-transform: lowercase;
  background: transparent;
  border: 1px solid #34495e;
  border-radius: 40px;
  padding: 1rem 2rem; }
  .medium a {
    color: #34495e;
    text-decoration: none; }

/* Landscape phones and down */
@media (max-width: 480px) {
  #json-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

figure {
  background: rgba(175, 190, 207, 0.5);
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  figure .imageContainer {
    padding: 2rem;
    width: 40%;
    display: inline-block; }
    figure .imageContainer img {
      width: 100%; }
  figure figcaption {
    width: 60%; }
    figure figcaption ul {
      padding: 0;
      margin: 0; }
      figure figcaption ul li {
        list-style-type: none;
        display: inline-block;
        padding-right: 0.5rem; }
        figure figcaption ul li:last-child {
          padding-right: 0; }
  figure figcaption.right {
    padding: 2rem 2rem 2rem 0; }
  figure figcaption.left {
    padding: 2rem 0 2rem 2rem; }

div.imageContainer, figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.portfolioItem {
  position: relative; }
  .portfolioItem:hover .portfolioLink {
    opacity: 1;
    -webkit-transition: 0.75s all ease-in;
    transition: 0.75s all ease-in; }

.portfolioLink {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #afbecf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.liveButton {
  background: #34495e;
  border: none;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem 2rem;
  -webkit-box-shadow: 2px 2px rgba(52, 73, 94, 0.5);
          box-shadow: 2px 2px rgba(52, 73, 94, 0.5);
  display: none; }
  .liveButton a {
    color: white;
    text-decoration: none; }

@media (max-width: 1000px) {
  figure {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  div.imageContainer, figure figcaption {
    width: 100%; }
    div.imageContainer img, figure figcaption img {
      max-width: 80%;
      margin: 0 auto; }
  div.imageContainer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  figure figcaption.right, figure figcaption.left {
    padding: 2rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

@media (hover: none) {
  .liveButton {
    display: block; } }

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end; }
  footer .wrapper .contact {
    width: 33%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .wrapper .contact3 {
    font-size: 0; }
  footer .wrapper .contact2 ul {
    margin: 0;
    padding: 0; }
    footer .wrapper .contact2 ul li {
      list-style: none; }

.lightwidget {
  max-width: 300px;
  margin: 0 auto; }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  footer .wrapper .contact {
    width: 50%; }
  footer .wrapper .contact1 {
    width: 100%;
    margin-bottom: 2.5rem; }
  footer .wrapper .contact2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .workGallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .workItem {
    width: 70vw;
    height: 70vw; }
  footer .wrapper .contact2 {
    width: 100%;
    margin-bottom: 2.5rem; }
  footer .wrapper .contact3 {
    width: 100%; } }
