@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 7.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto; }

.largeLogo {
  display: inline-block;
  margin: 0 auto;
  position: relative; }
  .largeLogo h1 {
    border: 5px solid #ffffff;
    padding: 2rem; }
  .largeLogo::before, .largeLogo::after {
    content: '•';
    font-size: 4rem;
    color: #ae9364;
    position: absolute;
    top: 40%;
    background-color: #434343;
    line-height: 3rem; }
  .largeLogo::before {
    left: -0.5rem; }
  .largeLogo::after {
    right: -0.5rem; }

.smallLogo {
  display: inline-block;
  margin: 0 auto;
  position: relative; }
  .smallLogo h1 {
    font-size: 3rem;
    border: 5px solid #ffffff;
    padding: 2rem; }
  .smallLogo::before, .smallLogo::after {
    content: '•';
    font-size: 4rem;
    color: #ae9364;
    position: absolute;
    top: 40%;
    background-color: #434343;
    line-height: 3rem; }
  .smallLogo::before {
    left: -0.5rem; }
  .smallLogo::after {
    right: -0.5rem; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase; }

#contact h2 {
  text-align: center;
  color: #ffffff; }
  #contact h2 a {
    color: #ae9364;
    text-decoration: none; }
    #contact h2 a:hover {
      color: #ffffff;
      transition: all 0.5s; }

h3 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-top: 0; }
  h3::before {
    content: '';
    width: 4.5rem;
    height: 3px;
    background: #ae9364;
    position: absolute;
    top: 2.75rem; }
  h3::after {
    content: ' .';
    color: #ae9364; }

h4 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0; }

p {
  font-family: "Lora", serif;
  color: #707070;
  font-size: 1rem;
  line-height: 1.4rem; }
  p a {
    color: #ae9364;
    text-decoration: none; }
    p a:hover {
      color: #707070;
      transition: all 0.5s; }

#portfolio p {
  margin: 2rem 0 2rem 0; }

.devicons {
  font-size: 3rem; }

.skillsItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .skillsItems ul li {
    list-style: none;
    margin: 0;
    padding: 0; }
    .skillsItems ul li i {
      font-size: 3rem; }

.portfolioTechList {
  margin: 0;
  padding: 0; }
  .portfolioTechList li {
    list-style: none;
    margin: 0 0;
    padding: 0 0.75rem 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #ae9364;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    display: inline-block; }

.buttonLinkLarge {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #ae9364;
  padding: 1rem; }
  .buttonLinkLarge:hover {
    background: #333333;
    border: 2px solid #333333;
    color: #ffffff;
    transition: all 0.5s; }

.buttonLink {
  padding: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid #ae9364;
  text-decoration: none;
  margin-top: 1.5rem; }
  .buttonLink:hover {
    background: #333333;
    border: 2px solid #333333;
    color: #ffffff;
    transition: all 0.5s; }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1 {
    font-size: 5.5rem; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 3.5rem; }
  .smallLogo h1 {
    font-size: 2rem; } }

/* Phone */
@media (max-width: 350px) {
  h1 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; }
    h3:before {
      top: 2.5rem; }
  .buttonLinkLarge {
    font-size: 0.8rem; }
  .credit {
    padding: 0 0.5rem; } }

body {
  font-size: 62.5%; }

.outerWrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem; }

.wrapper {
  max-width: 1170px;
  width: 70%;
  margin: 0 auto; }

.fixed {
  position: fixed;
  top: 0;
  width: 70%;
  max-width: 1170px;
  z-index: 9999; }

#error {
  margin: 9rem 0; }
  #error h3, #error p {
    width: 100%; }

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #434343;
  height: 100vh; }

.hero .outerWrapper {
  text-align: center; }

nav {
  border-bottom: 3px solid #ae9364;
  background: white;
  height: 3.8rem;
  position: absolute;
  bottom: -3.8rem;
  margin: 0 auto;
  width: 70%;
  max-width: 1170px; }
  nav .navWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; }
  nav img {
    height: 3.6rem;
    bottom: 1rem;
    left: 0; }
  nav ul {
    text-align: right;
    margin: 1rem 0;
    padding: 0;
    padding-right: 1rem; }
    nav ul li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      nav ul li a {
        padding-left: 1rem;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #333333; }
        nav ul li a:hover {
          color: #ae9364;
          transition: all 0.5s; }

.hamburger {
  display: none; }

.hamburgerLinks li {
  padding-bottom: 0.5rem; }
  .hamburgerLinks li:last-child {
    padding-bottom: 0; }

/* Landscape phone to portrait tablet */
@media (max-width: 880px) {
  .navItem {
    display: none; }
  .navLinks .fa {
    font-size: 1.05rem; }
  .hamburger {
    display: block;
    margin-left: 0;
    position: relative;
    cursor: pointer; }
  .hamburgerLinks {
    position: absolute;
    top: 1rem;
    right: 0;
    display: block;
    padding: 1rem 2rem;
    margin: 0;
    width: 10rem;
    background: white; }
    .hamburgerLinks li {
      list-style: none;
      margin: 0; }
      .hamburgerLinks li a {
        text-align: center;
        padding: 0;
        font-size: 1rem; }
  .turnHamburger {
    transition: 0.5s, 0.5s, 0.5s, 0.5s;
    transform: rotate(90deg); } }

#bio .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 0; }
  #bio .wrapper .bioText {
    width: 60%;
    padding-right: 3rem; }
  #bio .wrapper .bioImage {
    width: 40%; }
    #bio .wrapper .bioImage img {
      border-radius: 50%;
      border: 2px solid #ae9364;
      max-width: 100%; }

.resume {
  margin: 2.5rem 0 0 0; }

@media (max-width: 940px) {
  #bio .wrapper .bioText {
    width: 100%;
    padding-right: 0; }
  #bio .wrapper .bioImage {
    display: none; } }

#skills {
  padding: 7rem 0; }
  #skills .background {
    background-color: #434343; }
    #skills .background h4, #skills .background i, #skills .background span, #skills .background p {
      color: #ffffff; }

.skillsItems {
  display: flex;
  padding: 2rem 0; }
  .skillsItems .languages, .skillsItems .tools, .skillsItems .learning {
    width: 50%;
    padding: 0 1rem; }
    .skillsItems .languages h4, .skillsItems .tools h4, .skillsItems .learning h4 {
      text-align: center; }
  .skillsItems .languages {
    border-right: 2px dotted #ae9364; }

.languagesList, .toolsList, .learningList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center; }
  .languagesList li, .toolsList li, .learningList li {
    width: 33.3%; }

@media (max-width: 940px) {
  .skillsItems {
    display: block; }
    .skillsItems .languages, .skillsItems .tools {
      width: 100%;
      padding: 0; }
    .skillsItems .languages {
      border-right: none;
      border-bottom: 2px dotted #ae9364;
      padding-bottom: 2rem; }
    .skillsItems .tools {
      padding-top: 2rem; }
  #skills p {
    font-size: 1rem; } }

#portfolio {
  padding: 7rem 0; }

.portfolioPiece {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 0;
  padding-bottom: 3rem;
  border-bottom: 2px dotted #ae9364; }
  .portfolioPiece:last-of-type {
    margin-bottom: 0;
    border-bottom: none; }
  .portfolioPiece .portfolioPieceText, .portfolioPiece .portfolioPieceImage {
    width: 50%; }
  .portfolioPiece .portfolioPieceImage img {
    max-width: 100%;
    max-height: 100%; }
  .portfolioPiece .spacingRight {
    padding-right: 2rem; }
  .portfolioPiece .spacingLeft {
    padding-left: 2rem; }
  .portfolioPiece .portfolioPieceText .buttonLink:nth-of-type(1n) {
    margin-right: 1rem; }

.portfolioTechList {
  margin-bottom: 2rem; }

@media (max-width: 940px) {
  .portfolioPiece {
    flex-direction: column; }
    .portfolioPiece:nth-child(odd) .portfolioPieceText {
      order: 1; }
    .portfolioPiece:last-child {
      border-bottom: none; }
    .portfolioPiece .portfolioPieceText, .portfolioPiece .portfolioPieceImage {
      width: 100%; }
    .portfolioPiece .portfolioPieceText {
      padding-top: 2rem;
      margin-top: 1.5rem; }
    .portfolioPiece .spacingLeft {
      padding-left: 0; }
    .portfolioPiece .spacingRight {
      padding-right: 0; } }

#contact {
  background-color: #434343;
  height: 100%; }
  #contact .wrapper {
    text-align: center; }

.smallLogo {
  margin: 3rem 0; }
  .smallLogo::before, .smallLogo::after {
    top: 35%; }
  .smallLogo::before {
    left: -0.55rem; }
  .smallLogo::after {
    right: -0.55rem; }

.socialLinks {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem; }
  .socialLinks a {
    color: #ae9364; }
    .socialLinks a:hover {
      color: #ffffff; }
    .socialLinks a:last-of-type i {
      padding-right: 0; }
    .socialLinks a i {
      padding-right: 1rem; }

@media (max-width: 768px) {
  .smallLogo {
    margin: 1.5rem 0; }
  #contact h2 {
    font-size: 1rem;
    margin: 1rem 0; }
  .credit {
    font-size: 1rem; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .credit {
    font-size: 0.75rem; } }

footer {
  background-color: #434343;
  padding: 1rem 0; }
  footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    margin: 0; }
    footer p a {
      color: #ae9364;
      text-decoration: none; }
      footer p a:hover {
        color: #ffffff; }

header.list {
  background: #434343;
  text-align: center; }

.bucketList ol {
  font-family: "Lora", serif;
  color: #707070;
  font-size: 1rem;
  line-height: 1.4rem; }
