@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: "Prata", sans-serif;
  color: #a8996e;
  font-size: 4rem;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(168, 153, 110, 0.5);
}

h1::after {
  content: '✨';
  font-size: 3rem;
  padding-left: 0.5rem;
  vertical-align: middle;
}

h2 {
  font-family: "Prata", sans-serif;
  color: #afbecf;
  font-size: 2rem;
  position: relative;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(175, 190, 207, 0.5);
}

h3 {
  font-family: "Prata", sans-serif;
  color: #a8996e;
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 0;
  text-shadow: 1px 1px 1px rgba(168, 153, 110, 0.5);
}

h4 {
  font-family: "Prata", sans-serif;
  color: #a8996e;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
  text-transform: lowercase;
}

p, li {
  font-family: "Overpass", serif;
  color: #34495e;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
}

.about p {
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  color: #5d7998;
  text-decoration: none;
  position: relative;
  border-bottom: 0.1rem solid #5d7998;
}

a:hover, a:active, a:focus {
  color: #34495e;
  border-bottom: 0.2rem solid #34495e;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

ul.contactLinks {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.contactLinks li {
  display: inline-block;
  font-size: 1rem;
  text-transform: lowercase;
}

ul.contactLinks li::after {
  content: ' •';
  font-size: 0.8rem;
  color: #a8996e;
}

ul.contactLinks li:last-of-type::after {
  content: none;
}

ul.contactLinks a {
  color: #34495e;
  text-decoration: none;
}

ul.contactLinks a span {
  color: #5d7998;
  border-bottom: 0.1rem solid #5d7998;
}

ul.contactLinks a:hover span {
  color: #34495e;
  border-bottom: 0.2rem solid #34495e;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

ul.socialMedia {
  line-height: 2rem;
  font-family: "Prata", sans-serif;
}

ul.socialMedia li {
  font-size: 1.5rem;
}

ul.socialMedia a {
  color: #34495e;
  text-decoration: none;
  border-bottom: none;
}

ul.socialMedia a:hover, ul.socialMedia a:active, ul.socialMedia a:focus {
  color: #5d7998;
  border-bottom: none;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

footer p {
  font-family: "Overpass", serif;
  text-align: center;
  font-size: 0.75rem;
}

figcaption h3 {
  font-family: "Prata", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #34495e;
  text-shadow: none;
  padding: 0;
  margin: 0;
}

figcaption p {
  color: #000;
  font-size: 1rem;
}

figcaption ul li {
  text-transform: uppercase;
  font-family: "Prata", sans-serif;
  font-size: 0.8rem;
}

a.portfolioLink {
  font-family: "Prata", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #34495e;
  letter-spacing: 0.25rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

/* Landscape phones and down */
@media (max-width: 580px) {
  h1 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  figcaption h3 {
    text-align: center;
  }
}

body {
  font-size: 62.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  height: 100%;
}

main {
  width: 60%;
  height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 6rem 3rem 0 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  scroll-behavior: smooth;
}

div.profile_image {
  width: 40%;
  display: block;
  min-height: 100vh;
  background-image: url("../assets/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

section.projects,
section.experience,
section.tools {
  margin-top: 4rem;
}

section.experience {
  margin-bottom: 4rem;
}

/* Remove smooth scroll behaviour if unpreferred */
@media screen and (prefers-reduced-motion: reduce) {
  main {
    scroll-behavior: auto;
  }
}

/* Portrait phones and down */
@media (max-width: 580px) {
  div.profile_image {
    width: 100%;
    height: 35vh;
    background-position: 50% 70%;
    min-height: 0;
  }
  main {
    padding-top: 4rem;
    height: auto;
    overflow-y: auto;
  }
}

figure {
  background: rgba(175, 190, 207, 0.5);
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

figure .imageContainer {
  padding: 2rem;
  width: 40%;
  display: inline-block;
}

figure .imageContainer img {
  width: 100%;
}

figure figcaption {
  width: 60%;
}

figure figcaption ul {
  padding: 0;
  margin: 0;
}

figure figcaption ul li {
  list-style-type: none;
  display: inline;
  padding-right: 0.5rem;
}

figure figcaption ul li:last-child {
  padding-right: 0;
}

figure:nth-of-type(odd) .imageContainer {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

figure:nth-of-type(odd) figcaption {
  padding: 2rem 2rem 2rem 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

figure:nth-of-type(even) .imageContainer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

figure:nth-of-type(even) figcaption {
  padding: 2rem 0 2rem 2rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

div.imageContainer, figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

figure.portfolioItem {
  position: relative;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

figure.portfolioItem:hover a.portfolioLink,
figure.portfolioItem:active a.portfolioLink,
figure.portfolioItem:focus a.portfolioLink {
  opacity: 1;
}

a.portfolioLink {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #afbecf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  border-bottom: none;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

a.portfolioLink:hover, a.portfolioLink:active, a.portfolioLink:focus {
  border-bottom: none;
}

a.portfolioLink span {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

a.liveButton {
  font-family: "Prata", sans-serif;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #34495e;
  margin-top: 2rem;
  padding: 1rem 2rem;
  -webkit-box-shadow: 2px 2px rgba(52, 73, 94, 0.5);
          box-shadow: 2px 2px rgba(52, 73, 94, 0.5);
  display: none;
  border-bottom: none;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

a.liveButton:hover, a.liveButton:active, a.liveButton:focus {
  background: #263544;
  color: #afbecf;
}

@media (max-width: 1000px) {
  figure {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.imageContainer, figure figcaption {
    width: 100%;
  }
  div.imageContainer img, figure figcaption img {
    max-width: 80%;
    margin: 0 auto;
  }
  div.imageContainer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  figure figcaption:nth-of-type(odd),
  figure figcaption:nth-of-type(even) {
    padding: 2rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* Landscape phones and down */
@media (max-width: 580px) {
  a.portfolioLink {
    display: none;
  }
  a.liveButton {
    display: block;
  }
}

.job p.title {
  font-weight: 600;
  margin-bottom: 0;
}

.job p.date {
  margin-top: 0;
  font-size: 1rem;
}

footer {
  text-align: center;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  padding-right: 0.25rem;
}

div.scrollcenter {
  position: absolute;
  left: 50%;
  top: 90vh;
  z-index: 25;
}

div#arrow.hide {
  display: none;
}

section.scrollarrow {
  position: relative;
  bottom: 3%;
  left: -50%;
  text-align: center;
  width: 10em;
}

span.arrow {
  background-color: rgba(52, 73, 94, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5em;
  width: 2.5em;
  margin: 0 auto;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

svg {
  width: 1.5em;
}

/* Portrait phones and down */
@media (max-width: 580px) {
  #arrow {
    display: none;
  }
}
